<div class="card">
    <div class="card-body">
        <h1> Nosotros</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta debitis, animi blanditiis libero accusantium quos
         necessitatibus repudiandae quidem ducimus cumque facilis voluptate laudantium praesentium, natus at perspiciatis doloremque. Quia, totam!</p>
    </div>
    
</div>

