  <div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
  <h2>La Veci</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis assumenda ipsum odio voluptatibus dolores eum earum voluptate atque, 
      numquam perferendis dolorum aliquam dignissimos, mollitia ratione. Repudiandae facilis blanditiis sequi. Tempore.</p>
  <hr class="my-4" />
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam inventore sint autem labore commodi. Accusamus, quibusdam alias deleniti
    explicabo reiciendis provident exercitationem quae, eveniet natus sapiente quos adipisci odio architecto!</p>
  <a href="https://github.com/BochaXD" class="btn btn-primary btn-lg">github</a>
</div>