{{#if succes_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{succes_ms}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}